.navContainer {
    height: 90px;
    /* border-bottom: 1px solid black; */
    /* text-align: center; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    background-color: white;
    width: 100%;
    
  }

.navTitleWrapper {
    padding: 24px;
    /* display: left; */
    align-self: center;
    width: 50%;
 
}


.menu {
    padding: 24px;
    width: 50%;
    text-align: right;
    align-self: center;
    
    
}

@media (min-width: 600px) {
    /* .navContainer {
        width
    } */
}