.avatarWrapper {
    padding: 16px;
    margin-bottom: 16px; 
    text-align: center;
    
} 

.avatar {
    max-width: 70%;
    height: auto;
    border-radius: 50%;

}

.logoWrapper {
    /* background-color: orange; */
    text-align: right;
}

.logo {
    max-width: 75%;
    height: auto;
    align-content: center;
}